/*初始化*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
.clear{
    zoom:1;
}
.clearfloat{
	display:block;
	clear:both;
	content:"";
	visibility:none;
	height:0;
}
/*header-topbar*/
body{
    width: 1700px;
}
.main-center{
    width:1174px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}
.header-topbar{
    background: #2c3e50;
    height: 40px;
    width: 100%;
}
.header-topbar ul, li{
    display: inline-block;
}
.header-topbar li{
    padding-right: 15px;
    border-right:solid 1px #30373e;
    color: white;
    font-size: 15px;
    line-height: 40px;
    cursor:pointer;
}
.header-topbar li + li{
    padding-left: 15px;

}
.main-center li:hover{
    color: #1dd2af;
}
.topbar-connect{
    float: right;
    padding-right: 15px;
    padding-left: 15px;
}
/*header-nav*/
.header-nav{
    height: 90px;
    width: 100%;
    background: #fff;
}
.header-nav span a{
    line-height: 90px;
}
.header-nav span img{
    vertical-align: middle;
}
.header-nav ul{
    float: right;
}
.header-nav li{
    line-height: 90px;
    margin-right: 35px;
}
/*header-banner*/
.banner{
    width: 100%;
    height: 690px;
    background-image: url(img/banner.jpg);
    background-size: 100% 100%;
    color: white;
    padding-top: 278px;
    text-align: center;
}
.banner h1{
    font-size: 50px;
}
.banner p{
    margin-top:25px;
    margin-bottom: 53px;
    font-size: 25   px;
}
.banner .map, .info{
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #fff;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}
.banner .map{
    width: 224px;
    height: 60px;
}
.banner .info{
    margin-left: 20px;
    width: 160px;
    height: 60px;
}
.banner .map:hover{
    background: #1dd2af;
}
.banner .info:hover{
    background: #1dd2af;
}
/*header-holidays pack*/
.holidays{
    width: 100%;
    height: 84px;
    padding-top: 20px;
    background-color: #2c3e50;
}
.holidays-left, .holidays-right{
    height: 104px;
    color: #fff;
    display: inline-block;
}
.holidays-left {
    font-size: 20px;
    color: #9fb0c0;
}
.holidays-left p span{
    font-size: 25px;
    color: #fff;
}
.holidays-right form{
    margin-left: 20px;
    /*margin-top: 29px;*/
}
.holidays-right form input{
    padding-left: 10px;
    margin: 0 23px;
    width: 324px;
    height: 48px;
    outline: none;
    color: gray;
    background-repeat: no-repeat;
    background-position: right;
}
.holidays-right .submit{
    margin-left: 0px;
    margin-right: 0px;
    width: 108px;
    height: 40px;
    font-size: 20px;
    background-color: #1dd2af;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.holidays-right .where{
    background-image: url();
}
.holidays-right .when{
    background-image: url(img/select-date.gif);
}
/*content*/
/*special-offer*/
.special-offer{
    height: 636px;
    width: 100%;
    padding-top: 80px;
    text-align: center;
    background: #fff;

}
.content-title{
    font-size: 25px;
}
.content-words{
    margin-top: 14px;
    font-size: 16px;
    color: #626262;
}
.content-banner{
    margin-top: 60px;
    margin-left: -70px;
}
.content-banner li{
    margin-right: 20px;
    cursor: pointer;
}
.content-banner li:hover{
    background: #2c3e50; /*深绿色*/
    color: #fff; /*白色*/
    border: 5px solid #1dd2af; /*绿色*/
}
.content-banner img{
    height: 200px;
    width: 260px;
}
.banner-content{
    padding-top: 15px;
    height: 60px;
}
.banner-content p{
    line-height: 1.2;
}
/*holidays type*/
.holidays-type{
    height: 520px;
    text-align: center;
    background: url(img/holidays-type_bg.jpg);
    color: #fff; /*白色*/
}
.holidays-type .top-text{
    padding-top: 80px;
}
.holidays-type-words{
    margin-top: 14px;
    font-size: 16px;
}
.holidays-type-ul{
    margin-top: 50px;
}
.holidays-type li{
    float: left;
    width: 157px;
    height: 157px;
    margin: 0 18px;
    cursor: pointer;
    background-color:transparent;
}
/*happy-clients*/
.happy-clients{
    height: 384px;
    padding-top: 80px;
    text-align: center;
    background: #fff; /*白色*/
    overflow: hidden;
}
.happy-clients-ul{
    margin-left: -250px;
    width: 2400px;
}
.happy-clients ul{
    margin-top: 50px;
    text-align: left;
    line-height: 1.2;
    font-size: 12px;
}
.happy-clients ul li{
    margin: 0 10px;
    padding-top:20px;
    height: 140px;
    color: #c5c5c5; /*灰色*/
    cursor: pointer;
}
.happy-clients ul li:hover{
    border-top: 5px solid #1dd2af;
}
.happy-clients ul li span{
    color: #1dd2af; /*绿色*/
}
/*footer*/
footer{
    height: 448px;
    width: 100%;
    background: #2c3e50;
}
footer .main-center{
    padding-top: 60px;
    height: 230px;
}
.main-center .inline-block{
    margin: 0;
    float: left;
    width: 290px;
    height: 226px;
}
footer h1{
    color: #1dd2af;
    font-size: 18px;
}
.footer-content{
    margin-top: 16px;
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
}
.news-letter input{
    margin-top: 16px;
    width: 140px;
    height: 30px;
    border-radius: 5px;
    outline: none;
}
.news-letter button{
    width: 46px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: #1dd2af; /*绿色*/
}
.latest-news span{
    display: inline-block;
    margin-right: 10px;
}
.latest-news span span{
    color: #1dd2af;
}
.latest-news .img-span{
    width: 36px;
    height: 36px;
    vertical-align: top;
}
.tags span{
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 6px;
    border: 1px solid #fff;
}
.address span{
    color: #1dd2af;
}
.address ul li{
    margin-top: 16px;
    width: 46px;
    height: 30px;
}
.footer-bottom{
    height: 123px;
    padding-top: 35px;
    text-align: center;
    border-top: 1px solid #9dafc0;
}
.footer-bottom h1{
    color: #fff;
    font-size:18px;
}
.footer-bottom span{
    color: #1dd2af;
}
.footer-bottom p{
    margin-top: 10px;
    color: #9dafc0;
}
